---
import '@astrojs/site-kit/assets/css/reset.css';
import '@astrojs/site-kit/assets/css/theme.css';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Astro</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>

<style>
	main {
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
	}
</style>
