---
import MenuToggle from './MenuToggle.astro'
import Logo from './icons/FullLogoDark.astro'

export interface Link {
    href: string
    text: string
}

export interface Props {
    links?: Link[]
}

const { links = [] } = Astro.props
---

<header id="navheader" class="sticky top-0 left-0 right-0 z-20">
    <div class="bg-neutral-900 text-neutral-400 py-4">
        <nav
            class="relative max-w-7xl mx-auto flex items-center justify-between px-4 sm:px-6"
            aria-label="Global"
        >
            <div class="flex flex-col sm:flex-row items-center flex-1 gap-y-6">
                <div class="flex items-center justify-between w-full md:w-auto">
                    <a
                        href="/"
                        class="flex gap-x-1 text-neutral-50 font-semibold text-xl"
                        id="navlogo"
                    >
                        <slot name="logo">
                            <Logo height={32} aria-hidden="true" />
                        </slot>
                    </a>
                    <div class="-mr-2 sm:-mr-6 flex items-center md:hidden">
                        <MenuToggle />
                    </div>
                </div>
                <div
                    id="menu"
                    class="flex flex-col sm:flex-row gap-x-8 gap-y-4 sm:ml-10 text-center sm:text-left sm:pb-0"
                >
                    {
                        links.map(({ href, text }) => (
                            <a
                                href={href}
                                class="text-base text-neutral-50 hover:text-neutral-300"
                            >
                                {text}
                            </a>
                        ))
                    }
                </div>
                <slot name="end-mobile" />
            </div>
            <slot name="end" />
        </nav>
    </div>
</header>

<style is:global>
    @media (max-width: 768px) {
        :root:not([data-menu-open='true']) :is(#menu) {
            @apply hidden;
        }
    }
</style>
