---
import Layout from '../layouts/Base.astro';

const components = await Astro.glob('./components/**/index.astro');

type Route = {
	href: string;
	text: string;
};

const componentRoutes = components.map(({ url }) => ({
	href: url!,
	text: url!.split('/').filter(Boolean)[1]!.replace('-', ' '),
}));
---

<Layout title="Site Kit">
	<h2>Components</h2>
	<ul>
		{
			componentRoutes.map(({ href, text }: Route) => (
				<li>
					<a href={href} class="h5">
						{text}
					</a>
				</li>
			))
		}
	</ul>
</Layout>

<style>
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	a {
		text-transform: capitalize;
	}
</style>
