---
import FullBleed from '@astrojs/site-kit/components/FullBleed.astro'
import Layout from '../../layouts/Base.astro'
---

<Layout title="Cluster">
	<h1>Cluster.astro</h1>

	<FullBleed gap="2rem" style="border: 1px solid black;">
		<div style="width: 100%; height: 10rem; background: lightgray;"></div>
		<div style="height: 5rem; background: lightblue;" class="cover"></div>
	</FullBleed>

	<FullBleed gap="--gap-4" maxWidth="50vw" style="border: 1px solid black;">
		<div style="width: 100%; height: 10rem; background: lightgray;"></div>
		<div style="height: 5rem; background: lightblue;" class="cover"></div>
	</FullBleed>

	<!-- layout prop doesn't exist? -->
	<!-- <FullBleed layout style="border: 1px solid black;">
		<div style="width: 100%; height: 10rem; background: lightgray;"></div>
		<div style="height: 5rem; background: lightblue;" class="cover"></div>
	</FullBleed> -->

	<FullBleed maxWidth="100%" gutter="var(--gap-8)" style="border: 1px solid black;">
		<div style="width: 100%; height: 10rem; background: lightgray;"></div>
		<div style="height: 5rem; background: lightblue;" class="cover"></div>
	</FullBleed>
</Layout>
