---
import Grid from '@astrojs/site-kit/components/Grid.astro';
import Layout from '../../layouts/Base.astro';
---

<Layout title="Grid">
	<h1>Grid.astro</h1>

	<Grid class="wrapper" minimum="30ch">
		<div>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos unde eius voluptatem
				reprehenderit, explicabo dolor optio nesciunt, illum assumenda cumque, facilis accusantium
				enim commodi aut nam. Natus, maxime voluptatibus. Perspiciatis.
			</p>
		</div>
		<div>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos unde eius voluptatem
				reprehenderit, explicabo dolor optio nesciunt, illum assumenda cumque, facilis accusantium
				enim commodi aut nam. Natus, maxime voluptatibus. Perspiciatis.
			</p>
		</div>
		<div>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos unde eius voluptatem
				reprehenderit, explicabo dolor optio nesciunt, illum assumenda cumque, facilis accusantium
				enim commodi aut nam. Natus, maxime voluptatibus. Perspiciatis.
			</p>
		</div>
		<div>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos unde eius voluptatem
				reprehenderit, explicabo dolor optio nesciunt, illum assumenda cumque, facilis accusantium
				enim commodi aut nam. Natus, maxime voluptatibus. Perspiciatis.
			</p>
		</div>
	</Grid>
</Layout>

<style>
	.wrapper div {
		background: lightgray;
		padding: 1em;
	}

	.wrapper {
		gap: 1rem;
	}

	.wrapper ~ .wrapper {
		margin-top: 5rem;
	}

	.wide div {
		min-width: 40ch;
	}
</style>
