---
import Stack from '@astrojs/site-kit/components/Stack.astro';
import Layout from '../../layouts/Base.astro';
---

<Layout title="Stack">
	<h1>Stack.astro</h1>

	<Stack gap="--gap-2" padding={{ block: "--gap-3" }}>
		<p>Reprehenderit ea culpa dolore dolor eiusmod.</p>
		<p>Reprehenderit ea culpa dolore dolor eiusmod.</p>
		<p>Reprehenderit ea culpa dolore dolor eiusmod.</p>
		<p>Reprehenderit ea culpa dolore dolor eiusmod.</p>
		<p>Reprehenderit ea culpa dolore dolor eiusmod.</p>
	</Stack>

	<hr />

	<Stack gap="2rem" padding={{ block: "--gap-3" }}>
		<p>Reprehenderit ea culpa dolore dolor eiusmod.</p>
		<p>Reprehenderit ea culpa dolore dolor eiusmod.</p>
		<p>Reprehenderit ea culpa dolore dolor eiusmod.</p>
		<p>Reprehenderit ea culpa dolore dolor eiusmod.</p>
		<p>Reprehenderit ea culpa dolore dolor eiusmod.</p>
	</Stack>

	<hr />

	<Stack gap={20} padding={{ block: "--gap-3" }}>
		<p>Reprehenderit ea culpa dolore dolor eiusmod.</p>
		<p>Reprehenderit ea culpa dolore dolor eiusmod.</p>
		<p>Reprehenderit ea culpa dolore dolor eiusmod.</p>
		<p>Reprehenderit ea culpa dolore dolor eiusmod.</p>
		<p>Reprehenderit ea culpa dolore dolor eiusmod.</p>
	</Stack>

	<hr />

	<Stack padding={{ block: "--gap-3" }} splitAfter={2}>
		<p>Reprehenderit ea culpa dolore dolor eiusmod.</p>
		<p>Reprehenderit ea culpa dolore dolor eiusmod.</p>
		<p>Reprehenderit ea culpa dolore dolor eiusmod.</p>
		<p>Reprehenderit ea culpa dolore dolor eiusmod.</p>
		<p>Reprehenderit ea culpa dolore dolor eiusmod.</p>
	</Stack>
</Layout>

<style>
	.split-after {
		min-block-size: 20rem;
	}
</style>
