---
import Switcher from '@astrojs/site-kit/components/Switcher.astro'
import Layout from '../../layouts/Base.astro'
---

<Layout title="Switcher">
    <h1>Switcher.astro</h1>

    <Switcher class="wrapper" threshold="--max-w-layout">
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos unde eius voluptatem reprehenderit, explicabo dolor optio nesciunt, illum assumenda cumque, facilis accusantium enim commodi aut nam. Natus, maxime voluptatibus. Perspiciatis.</p>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos unde eius voluptatem reprehenderit, explicabo dolor optio nesciunt, illum assumenda cumque, facilis accusantium enim commodi aut nam. Natus, maxime voluptatibus. Perspiciatis.</p>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos unde eius voluptatem reprehenderit, explicabo dolor optio nesciunt, illum assumenda cumque, facilis accusantium enim commodi aut nam. Natus, maxime voluptatibus. Perspiciatis.</p>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos unde eius voluptatem reprehenderit, explicabo dolor optio nesciunt, illum assumenda cumque, facilis accusantium enim commodi aut nam. Natus, maxime voluptatibus. Perspiciatis.</p>
        </div>
    </Switcher>

    <Switcher class="wrapper wide" threshold="640px">
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos unde eius voluptatem reprehenderit, explicabo dolor optio nesciunt, illum assumenda cumque, facilis accusantium enim commodi aut nam. Natus, maxime voluptatibus. Perspiciatis.</p>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos unde eius voluptatem reprehenderit, explicabo dolor optio nesciunt, illum assumenda cumque, facilis accusantium enim commodi aut nam. Natus, maxime voluptatibus. Perspiciatis.</p>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos unde eius voluptatem reprehenderit, explicabo dolor optio nesciunt, illum assumenda cumque, facilis accusantium enim commodi aut nam. Natus, maxime voluptatibus. Perspiciatis.</p>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos unde eius voluptatem reprehenderit, explicabo dolor optio nesciunt, illum assumenda cumque, facilis accusantium enim commodi aut nam. Natus, maxime voluptatibus. Perspiciatis.</p>
        </div>
    </Switcher>
</Layout>

<style>
    .wrapper div {
        background: lightgray;
        padding: 1em;
    }

    .wrapper {
        gap: 1rem;
    }

    .wrapper ~ .wrapper {
        margin-top: 5rem;
    }

    .wide div {
        min-width: 40ch;
    }
</style>
