---
import { SEO } from '@astrojs/site-kit/components';
---

<!doctype html>
<html lang="en">
	<head>
		<SEO
			title="Without Canonical URL"
			description="Basic SEO without a canonical URL"
			canonicalURL={null}
		/>
	</head>
	<body> </body>
</html>
